<h1 class="about">About</h1>

<div class="container" id="about-page">
    <div class="pic">
        <img src="/images/portfolio-pic.JPG" class="rounded mx-auto d-block" id="about-pic" alt="Portfolio picture">
    </div>
</div>
<p class="text-start">
    I am a 2nd year college student studying in Georgian College's 'Interactive Media Design Web' program. 
    I have many technical and leadership-based skills obtained through personal and professional experiences, and enjoy applying my skills into practical applications.
</p>
  </div>
