<main class="container">
    <h1>Welcome!</h1>
    <p>"Welcome to my digital portfolio, a testament to my passion and expertise in the dynamic realm of web design and
        development. With a solid foundation built over two years of hands-on experience, I specialize in crafting
        seamless digital experiences through the fusion of cutting-edge technology and creative design.</p>

    <button id="aboutPage" data-page="about" class="btn btn-primary">Learn More</button>
    </button>
</main>